.env
.data/
**/node_modules/
**/.DS_Store
app/public/uploads/*
!app/public/uploads/.gitignore

# TypeScript build output
app/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.tfvars.example
crash.log
crash.*.log
*.tfplan
