html{
  overflow-y: scroll;
}
body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  word-break:break-all;
}

a {
  color: #00B7FF;
}
.pList .pTitle{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pList .pContent{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 75px;
}
a:hover{
  text-decoration: none!important;
}
.pList a:hover .btn-primary{
  background-color: #444;
  border-color: #444;
}
#drag-drop-area{
  position: relative;
}
#drag-drop-area.dragover::after{
  content: "SET OK";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}
#drag-drop-area.dragover::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background: #e3f2fd;
  opacity: 0.4;
}
.thum{
  border-radius: 100%;
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.thum img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}