<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br>
    <p><a href="http://localhost/" target="_blank">phpMyadmin</a></p>
    <p>host：express-mysql 　( ホスト名に「localhost」は使わない )</p>
    <p>id&nbsp;&nbsp;&nbsp;&nbsp;：root</p>
    <p>pass：root</p>
    <p>db&nbsp;&nbsp;&nbsp;：xxxx　( 任意 )</p>
  </body>
</html>
